.button_google{
width: 17.292vw;
  height: 2.708vw;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.042vw;
  line-height: 1.198vw;
  background-color: #B03737;
  align-items: center;
  display: flex;
  justify-content: center;
}