.accountMenu{
  .accountMenu-list{
    line-height: 1.2vw;
    font-weight: 600;
    font-size: .8vw;
    li{
      a{
        text-decoration: none;
        color: white;
      }
    }
  }
  .accountMenu-list.MyAccountHover{
          a{
        text-decoration: none;
        color: white;
      }
    :nth-child(2) {
      a{
        color: #ee4343;
      }

    }
  }
  .accountMenu-list.MyOrders{
    :nth-child(1) {
      a{
        color: #ee4343;
      }

    }
  }
}