
//
.HelpDesign{
  background: url("../../../images/icons/backgroundSvg/Dot\ Grid.svg");
  width: 100%;
  height: 100vh;
  .helpDesign-svg{
    .svg-heart{
      position: absolute;
      top: calc(50% - #{35vw / 2});
      left: calc(50% - #{-70vw / 2});
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s linear forwards;
    }
    .svg-heart{
      position: absolute;
      top: calc(20%);
      left: calc(50% - #{-70vw / 2});
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s linear forwards;
    }
    .svg-line{
      position: absolute;
      top: calc(50% - #{16vw / 2});
      left: calc(50% - #{-2vw / 2});
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 4s linear forwards;
    }
    .svg-stroke{
      animation: dashBig 3s ease-in forwards;
      stroke-dasharray: 4000;
      stroke-dashoffset: 4000;
      position: absolute;
      bottom: -35%;
      margin-left: calc((-1 * (2400px - 100vw)) / 2);
      z-index: 4;
    }
  }
  .helpDesign-wrapper{

    font-weight: bolder;
    font-family: "Roboto Condensed";
    .helpDesign-logo{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      z-index: 4;
      position: absolute;
      font-size: 2.5vw;
      top: calc(50% - #{20vw / 2});
      left: calc(50% - #{15vw / 2});
    }
    .helpDesign-label{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-family: "Roboto";
      position: absolute;
      font-size: 3.2vw;
      top: calc(50% - #{11vw / 2});
      left: calc(50% - #{36vw / 2});
      text-align: center;
      line-height: 3.9vw;
      z-index: 4;
      span{
        background-color: #609FFF;
        padding-left: 0.3vw;
        padding-right: 0.3vw;
      }
      p{
        span{
          background-color: #FA5353;
          padding-left: 0.3vw;
          padding-right: 0.3vw;
        }
      }

    }
    .helpDesign-btn{
      display: flex;
      width: 100%;
      justify-content: center;
      position: absolute;
      top: calc(60% - #{0vw / 2});
      button{
        z-index: 4;
      }
    }
    .videoWrapper{
      width: 100%;
      z-index: 5;
      position: absolute;
      display: flex;
      justify-content: center;
      bottom: calc(-55% - #{0vw / 2});
      video{
        width: 60%;
      }
    }
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1500;
  }
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes dashBig {
  from {
    stroke-dashoffset: 4500;
  }
  to {
    stroke-dashoffset: 0;
  }
}