

.ChangePassword{
  overflow-x: hidden;
  font-family: 'VCR OSD Mono';
  .autorization__wrapper{
   
    .registration-bg{
      z-index: 1;
      background-color: #0D0D0D;
      position: fixed;
      top: 2.8vw;
      right: 0;
  
      width: 100%;
      height: 100%;
      .registration{
        margin-top: 10vw;
        text-align: center;  
        color: #FFFFFF;   
        .registration-title{
          font-size: 5vw;
          text-align: center;   
          color: #FFFFFF;    
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .input-btn-wrapper{
          
          margin-top: 6vw;
          display: flex;
          justify-content: center;
        }
        .input__menu{
          margin-top: 1vw;
          text-align: center;
          .input-flex{
            
            display: flex;
            justify-content: center;
            margin-top: 1vw;
            div + div{
              margin-left: 1.5vw;
            }
          } 
        }
        .registration__rules{
          margin-top: 0.8vw;
          color: white;
          text-align: center; 
          font-size: 0.9vw;
          a{
            color: white;
          }
        }
      }
      .decor__wrapper{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        .decor__graffity{
          position: absolute;
          font-family: 'Ruthless Wreckin ONE';
        }
        .decor__graffity.first{
          left: 85%;
          top: 93%;
          font-size: 4vw;
          letter-spacing: 0.095em;
          color: #303030;
          transform: rotate(-13.43deg);
        }
        .decor__graffity.second{
          left: 0%;
          top: 0%;
          font-family: 'Ruthless Wreckin ONE';
          font-size: 5vw;
          letter-spacing: 0.095em;
          color: #757575;
          transform: rotate(-17.43deg);
        }
        .decor__graffity.third{
          left: 35%;
          top: 95%;
          font-family: 'Ruthless Wreckin ONE';
          font-size: 5vw;
          letter-spacing: 0.095em;
          color: #111111;
          transform: rotate(-0.43deg);
        }
        .decor__jpntext{
          z-index: -1;
          position: absolute;
          font-weight: 800;
          font-size: 2vw;
          color: #FFFFFF;
          transform: rotate(90deg);
        }
        .decor__jpntext.first{
          left: -2%;
          top: 85%;
        }
        .decor__jpntext.second{
          right: 0%;
          top: 10%;
        }
        .label_registration{
          position: absolute;
          right: 1%;
          top: 25%;
          width: 2vw;
          height: 20vw;
          svg{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
