

.Cart{

  font-family: 'VCR OSD';
    .cart__wrapper{
      color: white;

        .cart-wrapper{
          font-family: "Roboto Condensed";
          margin-top: 5%;
          .cart-items-list{
            margin-left: 3.7%;
          }
          .cart-label{
            margin-left: 4%;
            span{
              margin-left: 0.3vw;
              font-size: 2vw;
              background-color: #5A5A5A;
              color: #b4b4b4;
              padding-left: 0.4vw;
              padding-right: 0.4vw;
            }
            font-size: 2vw;

            font-weight: 900;
          }
          .cart-label-atten{
            margin-left: 4%;
            margin-top: 0.6vw;
            font-family: "Roboto";
            color: #014DB5;
            font-size: 1.042vw;

          }
        }
      background-color: #0D0D0D;
      min-height: 100%;
      width: 100%;
      content: "";
      position: absolute;

    }
    .ChangeAccount-values{
      position: fixed;
      font-family: "Roboto";
      margin-left: 3.7%;
      top: 2vw;
      left: 0;
      z-index: 3;
      
      .ChangeAccount-label{
        margin-top: 3vw;
        font-size: 2vw;
        font-weight: 700;
      }

      .ChangeAccount-inputs{
        margin-top: 3vw;
        .inputs-label{
          font-family: 'VCR OSD';
          font-size: 2vw;
        }
        .change-btn{
          margin-top: 0.5vw;
        }
        .inputs-grid{
          font-family: 'VCR OSD';
          display: grid;
          margin-left: auto;
          margin-right: auto;
          grid-template-columns: 33.3% 33.3% 33.3%;
          div + div{
            margin-right: 1vw;
          }

          .inputsBtn{
            margin-top: 2vw;
          }
        }

      }
      .ChangeAccount-inputs + .ChangeAccount-inputs{
        .inputs-grid{
          grid-template-columns: 33.3% 33.3%;
        }
      }
    }
    .order-wrapper{
      z-index: 3;
      background-color: #161616;
      color: white;
      position: fixed;
      top: 0;
      right: 0;
  
      width: 30%;
      height: 100%;
      .order-label{
          text-align: center;
          margin-top: 4.8vw;
          font-size: 2.5vw;
      }
      .order-info{
        margin-top: 3vw;
        margin-left: 3vw;
        font-family: "Roboto Condensed";
        .order-info__big{
          font-weight: 900;
          font-size: 2.2vw;
        }
        .order-info__little{
          font-weight: 500;
          font-size: 1.1vw;
          margin-bottom: 0.3vw;
        }
      }
      .order-btn{
        display: flex;
        flex-direction: column;
        margin-top: 5vw;
        a{
          margin-left: auto;
          margin-right: auto;
        }
        button{
          margin-left: auto;
          margin-right: auto;
        }
        button + button{
          margin-top: 1vw;
        }
      }

      .order-payment{
        font-family: "Roboto";
        color: #5A5A5A;
        margin-left: 3vw;
        margin-top: 2vw;
        font-size: 0.8vw;

        p{
          padding-left: 0.4vw;
          padding-bottom: 0.4vw;
        }
        span{
          margin-left: 0.3vw;
        }
      }
      .order-static__info{
        margin-top: 4vw;
        padding-left: 3.2vw;
        padding-right: 3.8vw;
        text-align: justify;
        font-family: "Roboto";
        font-size: 0.7vw;
        color: #5A5A5A;
        p{
          margin-bottom: 2vw;
        }
        ul{
          margin-bottom: 2vw;
          list-style-type:circle;
          margin-left: 1vw;
        }
        li+li{
          margin-top: 0.3vw;
        }
      }
    }
}
