.Store{
  font-family: "Roboto";
  .store__collection-carusel{
  }
  .store__collection-carusel_wrapper{
    .store__collection-carusel_element{
      height: 40vw;
    }
  }

  .store-item-carusel{
    margin-top: 2vw;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    .store__label{
          font-weight: 700;
      padding-bottom: 2vw;
      text-align: center;
      span{
        margin-left: 0.2vw;
        padding-left: 0.4vw;
        padding-right: 0.4vw;
        background-color: #E34D4D;;
      }
    }
  }
  .store-item-grid{
    margin-top: 2vw;

    font-size: 64px;
    line-height: 75px;
    .store-item-flex_center{

      .store-item-grid_wrapper{
        width: 87%;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 33.3% 33.3% 33.3%;
      }
    }
    .store__label{
      font-weight: 700;
      padding-bottom: 2vw;
      text-align: center;
      span{
        margin-left: 0.2vw;
        padding-left: 0.4vw;
        padding-right: 0.4vw;
        background-color: #E34D4D;;
      }
    }
  }
}
