


  .Loader{
    position: absolute;
    top: calc(50% - #{10vw / 2});
    left: calc(50% - #{14vw / 2});
    div{
      width: 13vw;
      overflow:hidden;
      display:block;

      video{
        width: 14vw;
      }
    }
  }