

.ChangeDesign{
  background: url("../../../images/icons/backgroundSvg/Dot\ Grid.svg");
  width: 100%;
  height: 100vh;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  .labl {
    display : block;
    input{ /* HIDE RADIO */
      visibility: hidden; /* Makes input not-clickable */
      position: absolute; /* Remove input from document flow */
    }
    input + div{ /* DIV STYLES */
      cursor:pointer;
      border: 1px solid transparent;
      border-radius: 8px;
    }
    input:checked+div{ /* (RADIO CHECKED) DIV STYLES */
      background-color: #ffd6bb;
      border: 1px solid #f85050;
    }
    input + label{ /* DIV STYLES */
      cursor:pointer;
      border: 1px solid transparent;
      border-radius: 8px;
    }
  }



  .labl1 {
    display : block;
  }
  .labl1 > input{ /* HIDE RADIO */
      visibility: hidden; /* Makes input not-clickable */
      position: absolute; /* Remove input from document flow */
  }
  .labl1 > input + div{ /* DIV STYLES */
      cursor:pointer;
      border: 1px solid transparent;
      border-radius: 8px;
  }
  .labl1 > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */

      border: 1px solid #f85050;
  }
  
  .design-model-front_back-element {
    display : block;
  }
  .design-model-front_back-element > input{ /* HIDE RADIO */
      visibility: hidden; 
      position: absolute; 
  }
  .design-model-front_back-element > input + div{ 
      cursor:pointer;
    
  }
  .design-model-front_back-element > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    font-weight: 800;
  }

  .design-panel{
    z-index: 4;
    position: absolute;
    bottom: 0%;
    left: 0%;
    justify-content: center;
    .design-panel-wrapper{
      width: 214px;
      background: #0a0a0a;
      color: white;

      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 25px;
      padding-right: 25px;

      ul{
        display: flex;
        justify-content: space-around ;

        li{
          .icon{
            font-size: 34px;
            font-weight: 600;

            display: flex;
            justify-content:center;
            line-height: 28px;
          }
          .text{
            padding-top: 6px;
          }
        }
      }

    }
  }
  .design-panel-layers{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    .design-panel-wrapper{
      width: 240px;
      height: 100vh;
      background: #292929;
      color: white;
      padding-left: 12px;
      padding-right: 12px;
      .design-panel__text{
        padding-top: 70px;
        text-align: center;
        .design-panel__main-text{
          font-weight: 800;
          font-size: 42px;
        }
        .design-panel__little-text{
          font-size: 12px;
          color: rgb(221, 77, 77);
        }
      }
    }
  }
  .design-panel-info{
    z-index: 2;
    position: absolute;
    right: 0;

    .design-panel-wrapper{
      width: 220px;
      height: 100vh;
      background: #292929;
      color: white;
      padding-left: 15px;
      padding-right: 15px;

      .design-panel__text{
        padding-top: 70px;
        text-align: center;
        .design-panel__main-text{
          
          font-weight: 800;
          font-size: 32px;
          
        }
        .design-panel__little-text{
          font-size: 12px;
          color: rgb(221, 77, 77);
        }
        .settings{
          .input-wrapper{
            margin-top: 15px;
            .input-description{
              color: #7e7e7e;
              font-family: "Roboto";
              font-weight: 300;
              font-size: 10px;
              line-height: 12px;
              text-align: left;
              padding-left: 10px;
            }
            #font-picker{
              width: 205px;
              color: rgb(187, 187, 187);
              ul{
                background: #1F1F1F;
                li {
                  .font-button.active-font{
                    background: #b94141;
                  }
                  .font-button:hover{
                    background: #b94141;
                  }
                }
              }
              .dropdown-button{
                background: #1F1F1F;
                border-radius: 6px;
                padding: 7px;
                font-size: 20px;
                .font-list{
                  background: #1F1F1F;
                }
              }
              .dropdown-button:focus{
                background: #1F1F1F;
                border-radius: 6px;
                padding: 7px;
                font-size: 20px;
                
                .font-list{
                  background: #1F1F1F;
                }
              }
              .dropdown-icon.finished::before{
                border-top: 6px solid rgb(187, 187, 187);
              }
            }
          }
          .color-input{
            margin-top: 30px;
            margin-left: 10px;
            p{
              color: #7e7e7e;
              font-family: "Roboto";
              font-weight: 300;
              font-size: 10px;
              line-height: 12px;
              text-align: left;
              padding-left: 3px;
            }
          }
          .input-wrapper-flex{
            display: flex;
            margin-top: 30px;
            div{
              margin-left: 10px;
            }
            div + div{
              margin-left: 12px;
            }
          }
          .input-grid{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            p{
              color: #7e7e7e;
              font-family: "Roboto";
              font-weight: 300;
              font-size: 10px;
              line-height: 12px;
              text-align: left;
              padding-left: 8px;
            }
            .input-wrapper-grid{
              display: grid;
              

              grid-template-columns: 33.3% 33.3% 33.3%;
              
              text-transform: uppercase;
              .size-label{
                label{
                  display: inline-block;
                  border: 0.052vw solid rgb(201, 201, 201);
                  border-radius: 0.3vw;
                  padding: 12px;
                  width: 25px;
                  text-align: center;
                  cursor: pointer;
                  transition: 0.3s ease;
                  box-shadow: 0px 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
                }
            
                .size-radio{
                  display: none;
                }
            
                input:checked+label {
                  background-color: rgb(196, 64, 64);
                  border: 0.052vw solid rgb(201, 201, 201);
                  color: rgb(224, 224, 224);
                }
                input:disabled+label{
                  border: 0.052vw solid rgb(196, 64, 64);
                  color: rgb(122, 122, 122);
                }
            
              }
              div{
                margin-top: 10px;
              }
  
            }
          }

          .input-wrapper-aligment{
            margin-top: 30px;
            font-weight: 400;
            font-size: 12px;
            color: #7e7e7e;
            .input-aligment-flex{
              margin-top: 10px;
              display: flex;
              justify-content: center;
              div{
                padding: 6px;
                border-radius: 5px;
              }
              div + div{
                margin-left: 5px;
              }
              div + div + div{
                background-color: #484a5c77;
              }
            }

          }
        }
      }
      .design-panel__layers-grid{
        div{
          margin-top: 10px;
          
        }
      }
      .button-wrapper{
        position: absolute;
        bottom: 6.5%;
        display: flex;
        width: 220px;
        justify-content: center;
        .button-design{
          width: 200px;
          height: 35px;
          border-radius: 7px;
          background-color: #D63B3B;
          color: white;
          transition: 0.3s ease;
          box-shadow: 0px 0.108vw 0.108vw rgba(0, 0, 0, 0.25);
        }
        .button-design:hover{
          background-color: rgb(163, 43, 43);
        }
      }
      .button-wrapper + .button-wrapper{
        bottom: 2%;
        justify-content: center;
        .button-design{
          background-color: #3b3ed6;
        }
        .button-design:hover{
          background-color: #2b2da3;
        }
      }
    }
  }
  .design-model{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: calc(10% - #{0vw / 2});
    z-index: 0;
    img{
      width: 700px;
      z-index: 0;
    }
    .model-wrapper{
      top: calc(20% - #{0vw / 2});
      position: absolute;
      width: 250px;
      height: 370px;
      border: 4px dashed #B9B9B9;
      .model-wrapper-relitive{
        overflow: hidden;
        position: relative;
        width: 250px;
        height: 370px;
        .model-wrapper-text-element{
          position: absolute;
        }
      }
    }
  }
  .design-model-front_back{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: calc(95% - #{0vw / 2});
    z-index: 0;
  }
}

