

.ChangeDesign{
  background: url("../../../images/icons/backgroundSvg/Dot\ Grid.svg");
  width: 100%;
  height: 100vh;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  .labl {
    display : block;
    input{ /* HIDE RADIO */
      visibility: hidden; /* Makes input not-clickable */
      position: absolute; /* Remove input from document flow */
    }
    input + div{ /* DIV STYLES */
      cursor:pointer;
      border: 1px solid transparent;
      border-radius: 8px;
    }
    input:checked+div{ /* (RADIO CHECKED) DIV STYLES */
      background-color: #ffd6bb;
      border: 1px solid #f85050;
    }
    input + label{ /* DIV STYLES */
      cursor:pointer;
      border: 1px solid transparent;
      border-radius: 8px;
    }
  }



  .labl1 {
    display : block;
  }
  .labl1 > input{ /* HIDE RADIO */
      visibility: hidden; /* Makes input not-clickable */
      position: absolute; /* Remove input from document flow */
  }
  .labl1 > input + div{ /* DIV STYLES */
      cursor:pointer;
      border: 1px solid transparent;
      border-radius: 8px;
  }
  .labl1 > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */

      border: 1px solid #f85050;
  }
  

  .design-panel{
    z-index: 4;
    position: absolute;
    bottom: 0%;
    left: 0%;
    justify-content: center;
    .design-panel-wrapper{
      width: 214px;
      background: #0a0a0a;
      color: white;

      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 25px;
      padding-right: 25px;

      ul{
        display: flex;
        justify-content: space-around ;

        li{
          .icon{
            font-size: 34px;
            font-weight: 600;

            display: flex;
            justify-content:center;
            line-height: 28px;
          }
          .text{
            padding-top: 6px;
          }
        }
      }

    }
  }
  .design-panel-layers{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    .design-panel-wrapper{
      width: 240px;
      height: 100vh;
      background: #292929;
      color: white;
      padding-left: 12px;
      padding-right: 12px;
      .design-panel__text{
        padding-top: 70px;
        text-align: center;
        .design-panel__main-text{
          font-weight: 800;
          font-size: 42px;
        }
        .design-panel__little-text{
          font-size: 12px;
          color: rgb(221, 77, 77);
        }
      }
    }
  }
  .design-panel-info{
    z-index: 2;
    position: absolute;
    right: 0;

    .design-panel-wrapper{
      width: 220px;
      height: 100vh;
      background: #292929;
      color: white;
      padding-left: 15px;
      padding-right: 15px;

      .design-panel__text{
        padding-top: 70px;
        text-align: center;
        .design-panel__main-text{
          
          font-weight: 800;
          font-size: 32px;
          
        }
        .design-panel__little-text{
          font-size: 12px;
          color: rgb(221, 77, 77);
        }
        .settings{
          .input-wrapper{
            margin-top: 15px;
            .input-description{
              color: #7e7e7e;
              font-family: "Roboto";
              font-weight: 300;
              font-size: 10px;
              line-height: 12px;
              text-align: left;
              padding-left: 10px;
            }
            #font-picker{
              width: 205px;
              color: rgb(187, 187, 187);
              ul{
                background: #1F1F1F;
                li {
                  .font-button.active-font{
                    background: #b94141;
                  }
                  .font-button:hover{
                    background: #b94141;
                  }
                }
              }
              .dropdown-button{
                background: #1F1F1F;
                border-radius: 6px;
                padding: 7px;
                font-size: 20px;
                .font-list{
                  background: #1F1F1F;
                }
              }
              .dropdown-button:focus{
                background: #1F1F1F;
                border-radius: 6px;
                padding: 7px;
                font-size: 20px;
                
                .font-list{
                  background: #1F1F1F;
                }
              }
              .dropdown-icon.finished::before{
                border-top: 6px solid rgb(187, 187, 187);
              }
            }
          }
          .color-input{
            margin-top: 30px;
            margin-left: 10px;
            p{
              color: #7e7e7e;
              font-family: "Roboto";
              font-weight: 300;
              font-size: 10px;
              line-height: 12px;
              text-align: left;
              padding-left: 3px;
            }
          }
          .input-wrapper-flex{
            display: flex;
            margin-top: 30px;
            div{
              margin-left: 10px;
            }
            div + div{
              margin-left: 12px;
            }
          }
          .input-wrapper-aligment{
            margin-top: 30px;
            font-weight: 400;
            font-size: 12px;
            color: #7e7e7e;
            .input-aligment-flex{
              margin-top: 10px;
              display: flex;
              justify-content: center;
              div{
                padding: 6px;
                border-radius: 5px;
              }
              div + div{
                margin-left: 5px;
              }
              div + div + div{
                background-color: #484a5c77;
              }
            }

          }
        }
      }
      .design-panel__layers-grid{
        div{
          margin-top: 10px;
        }
      }
    }
  }
  .design-model{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: calc(10% - #{0vw / 2});
    z-index: 0;
    img{
      width: 700px;
      z-index: 0;
    }
    .model-wrapper{
      top: calc(20% - #{0vw / 2});
      position: absolute;
      width: 250px;
      height: 370px;
      border: 4px dashed #B9B9B9;
    }
  }
}

