.st0{display:none;}
.st1{display:none;opacity:0.84;}
.st2{display:inline;fill:#C9785D;}
.st3{display:inline;fill:#FED2C4;}
.st4{display:inline;fill:#FAA98F;}
.st5{display:inline;fill:#CD846B;}
.st6{display:inline;fill:#FFE0D6;}
.st7{display:inline;fill:#FFDFD4;}
.st8{display:inline;fill:#FFE5DD;}
.st9{display:inline;fill:#FED7CA;}
.st10{display:inline;fill:#E68769;}
.st11{display:inline;fill:#D07B5F;}
.st12{display:inline;fill:#FEE4DB;}
.st13{display:inline;fill:#FECEBE;}
.st14{display:inline;fill:#EA8A6B;}
.st15{display:inline;fill:#FEB8A2;}
.st16{display:inline;fill:#FCAD93;}
.st17{display:inline;fill:#FFFFFF;}
.st18{display:inline;fill:#603E56;}
.st19{fill:#E56767;}
.st20{fill:#8BA7F7;}
.st21{fill:#7461FF;}
.st22{fill:#92D0DA;}
.st23{fill:#C6CAE4;}
.st24{fill:#F4F91C;}
.st25{fill:#CEA696;}
.st26{fill:#98CEAD;}
.st27{fill:#ACE2BF;}
.st28{fill:#9FCDAF;}
.st29{fill:#FCC03A;}
.st30{fill:#9AF2BD;}
.st31{fill:#FAFBFB;}
.st32{fill:#E3EAEF;}
.st33{fill:#ACE5DE;}
.st34{fill:#FFFFFF;}
.st35{fill:#8CCEA6;}
.st36{fill:#423FB2;}
.st37{fill:#28ABB5;}
.st38{fill:#ACC2E2;}
.st39{fill:#D87395;}
.st40{fill:#3767CB;}
.st41{fill:#3F8CB2;}
.st42{fill:#FD3974;}
.st43{fill:#713EB3;}
.st44{fill:#232323;}
.st45{fill:#353535;}
.st46{fill:#1C1C1C;}
.st47{fill:#1E1E1E;}
.st48{fill:#2D2D2D;}
.st49{fill:#07129B;}
.st50{fill:#161616;}
.st51{fill:#191919;}
.st52{opacity:0.77;}
.st53{fill:#243677;}
.st54{opacity:0.53;fill:#FFFFFF;}